<div class="d-flex flex-column">
  <input class="form-control m-2" type="text" placeholder="User Name" #userName />
  <input class="form-control m-2" type="password" placeholder="Password" #userPassword />
  <div class="btn-group container m-2" role="group">
    <button type="button" class="btn btn-dark" routerLink='/signup'>Sign Up</button>
    <button type="button" class="btn btn-dark" (click)="handleSubmit(userName.value, userPassword.value); userName.value = ''; userPassword.value = '';">Submit</button>
  </div>
</div>
  <alert *ngIf="this.errorView" class="text-center fixed-bottom" type="danger">
    {{errorView}}
  </alert>


