<div>
  <input type="text" placeholder="Name" #name />
  <input type="text" placeholder="User Name" #userName />
  <input type="password" placeholder="password" #password />
  <input type="password" placeholder="confirm password" #cPassword />
  <input type="email" placeholder="email" #email />
  <button (click)="handleSignUp(
    name.value, 
    userName.value,
    password.value,
    cPassword.value,
    email.value
    );
    name.value = '';
    userName.value = '';
    password.value = '';
    cPassword.value = '';
    email.value = '';
    "
  >
    Submit
  </button>
  <button routerLink="">Cancel</button>
</div>
<p>{{errorView}}</p>

<!-- 
  input for: name, user name, password, confirm password, email
  button to register
  if success go to home
  if fail, ? stay ?
-->